{% if form %}
<div class='container'>
    <h1 class='well'>Word Frequency Finder</h1>
    <form method='post' action='/results'>
        <h2>Hi user, please enter the text you would like to be searchable:</h2>
        <input type="text" name='input' class='form-control' rows='12'>
        <h2>User, please enter a word you would like to find in the phrase you just entered in the box above:</h2>
        <input type='text' name='findInput' class='form-control'>
        <br>
        <button type='submit' class='btn'>Submit!</button>
    </form>
</div>
{% endif %}
