<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
        <title>Sherlock's Word Frequency</title>
    </head>
    <body>
      <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a href="#about">About</a></li>
      </ul>
        <div class='container'>
            <h1>Sherlock's Word Frequency Finder</h1>
            <form method='post' action='/results'>
                <h2>Hi user, please enter the text you would like to be searchable:</h2>
                <input type="text" name='input' class='form-control'>
                <h2>User, please enter a word you would like to find in the phrase you just entered in the box above:</h2>
                <input type='text' name='findInput'class='form-control'>
                <br>
                <button type='submit' class='btn'>Submit!</button>
            </form>
            <div class="well">
              <h1> Here's your result (how many times the word appeared):</h1>
              {{ result }}


              <p>FYI: Sherlock reveals his favourite colour is pink.</p>
        </div>
    </body>
</html>
