
{% include 'topbase.html.twig' %}

        <div class='container'>
            <h1 class='page-header'>Sherlock's Word Frequency Results</h1>
            <h2>"{{ find }}" <em>appears </em>{{ word }} <em>times in the text:</em></h2>
            <p>"{{ search }}"</p>
            <form action='/'>
                <button type='submit' class='btn'>Wanna try to search again?</button>
            </form>
        </div>


{% include 'bottombase.html.twig' %}
